.popidze {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.popidze__inner, .popidze__bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.popidze__inner {
  z-index: 2;
  pointer-events: none;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.popidze__img {
  display: none;
}
.popidze__item {
  display: block;
}
.popidze__control-prev, .popidze__control-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 24px;
  background-color: #000000;
}
.popidze__control-prev {
  left: 30px;
}
.popidze__control-next {
  right: 30px;
}
.popidze__bg {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}
.popidze.--show {
  opacity: 1;
  visibility: visible;
}